<!-- <p>login works!</p> -->
<div class='ripple-background'>
    <div class='circle xxlarge shade1'></div>
    <div class='circle xlarge shade2'></div>
    <div class='circle large shade3'></div>
    <div class='circle mediun shade4'></div>
    <div class='circle small shade5'></div>
  </div>
<div class="content-body"> 
<br><br><br><br>
<form #loginForm='ngForm' (ngSubmit)="onLogin(loginForm)" >
    <mat-card>
        <mat-card-title>LogIn Form</mat-card-title>

    <div class="form-group">
        <mat-form-field appearance = "standard">
            <mat-label>UserName</mat-label>
            <input matInput placeholder = "Enter UserName" required ngModel name="userName">
            <mat-icon matSuffix>perm_identity</mat-icon>
         </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance = "standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder = "Password" required ngModel name="password">
            <mat-icon matSuffix>lock</mat-icon>
         </mat-form-field>
    </div>
    <div class="form-group">
        <button type="submit" [disabled]="!loginForm.valid" mat-stroked-button>Login</button>
        <!-- <button type="button" mat-stroked-button routerLink="register">Register</button> -->
    </div>
    <br>
    <div>
        <a routerLink='/register'>Or Register Here</a>
    </div>
</mat-card>
</form>
</div>