<mat-dialog-content>
	
		<div>
            FIRSTNAME  :  {{ viewDataDialog.firstName}}
        </div>
        <br>
        <div>
            LASTNAME :   {{ viewDataDialog.lastName}}
        </div>
        <br>
        <div>
            USERNAME :   {{ viewDataDialog.userName}}
        </div>
        <br>
        <div>
            Email Id :   {{ viewDataDialog.email}}
        </div>
        <br>
        <div>
            Contact No. :  {{ viewDataDialog.phone}}
        </div>
	
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" mat-dialog-close>Ok</button>
</mat-dialog-actions>
